$fontSizeM: 16px;
$fontSizeS: $fontSizeM - 2px;
$fontSizeXS: $fontSizeS - 2px;
$fontSizeL: $fontSizeM + 2px;
$fontSizeXL: $fontSizeL + 2px;
$fontSizeXXL: $fontSizeXL + 2px;

$fontSizeH1: $fontSizeXXL + 20px;
$fontSizeH2: $fontSizeXL + 10px;
$fontSizeH3: $fontSizeL + 10px;
$fontSizeH4: $fontSizeM + 10px;
$fontSizeH5: $fontSizeS + 10px;
$fontSizeH6: $fontSizeXS + 10px;