$colorDark1: #000000;
$colorDark2: #111111;
$colorDark3: #222222;
$colorDark4: #333333;
$colorDark5: #444444;
$colorDark6: #555555;
$colorDark7: #666666;
$colorDark8: #777777;

$colorLight1: #ffffff;
$colorLight2: #eeeeee;
$colorLight3: #dddddd;
$colorLight4: #cccccc;
$colorLight5: #bbbbbb;
$colorLight6: #aaaaaa;
$colorLight7: #999999;
$colorLight8: #888888;

$colorBorder1: #926027;
$colorBorder2: #744816;
$colorError1: #c53535;
$colorGreen1: #5ba95b;
$colorPrimary1: #855634;
$colorPrimary2: #8d7965;
$colorPrimary3: #ff842d;

$mobileWidth: 768px;